.header-item-container {
    display: flex;
    padding: 10px;

    .header-content {
        flex: 1;
        padding: 10px;
        background-color: coral;
        display: flex;
        flex-direction: column;

        h1 {
            padding: 10px 0;
        }

        .article-tags {
            padding: 20px 0;
            display: flex;

            span {
                border: 2px solid black;
                text-transform: uppercase;
                margin-right: 20px;
                padding: 4px;
                font-weight: bold;
                font-size: 13px;
            }
        }

        p {
            color: gray;
            padding: 10px 0;
            font-weight: 600;
        }
    }
    .header-image {
        flex: 1;
        padding: 10px;
        background-color: darkorchid;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }
}

@media screen and (max-width: 768px) {
    .header-item-container {
        flex-direction: column-reverse;
    }
    .article-tags {
        flex-direction: column;
        
        span {
            margin-top: 20px;
        }
    }
  }